/*
 *  FILE: global-style.css
 *  DESCRIPTION:
 *  - Imports the 'Schibdsted Grotesk' font.
 *  - Defines global resets and base styles for the entire site.
 *  - Sets up typography rules for headings, paragraphs, and links.
 *  - Sets up general images and icons.
 */

/* =================================================================
      FONT IMPORT & GLOBAL RESET
   ================================================================= */
   
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

/* VARIABLES */
:root {
   /* COLORS */
   --color-main-bg: #fff;
   --color-accent: #4C5FD5; /* Links & Sign-In btn */
   --color-hero-bg: #dadbf1;
   --color-sandwich-bread: #000000; /* Header & Footer bg */

   /* FONT PROPERTIES */
   --font: 'Schibsted Grotesk';
   --font-heading-bold-weight: 650;
   --font-heading-hero-weight: 500;
   --font-default-weight: 400;
   --font-default-size: 23px;
   --font-footer-size: 16px;
}

/* APPLY TO ALL */
* {
   margin: 0;
   box-sizing: border-box;
   font-family: var(--font);
   overflow-x: hidden;
}


/* =================================================================
      TYPOGRAPHY
   ================================================================= */

/* --- GENERAL LINKS --- */
a {
   text-decoration: none;
   font-size: calc(var(--font-default-size) - 3px);
}

/* --- HEADINGS & PARAGRAPHS --- */
p {
   font-size: var(--font-default-size);
}
h1 {
   font-weight: var(--font-heading-hero-weight);
}
h2 {
   font-size: var(--font-default-size);
   font-weight: var(--font-heading-bold-weight);
}
h3 {
   font-size: var(--font-default-size);
   font-weight: var(--font-default-weight);
}
h1, h2, h3 {
   letter-spacing: -1px;
}