/*
 *  FILE: header-style.css
 *  DESCRIPTION:
 *  - Defines styles for the header.
*/


/* =================================================================
        BACKGROUND, COLORS, & GENERAL LAYOUT
   ================================================================= */

header {
    height: 5.5rem;
    padding-inline: 0.8rem 0.8rem;
    background-color: var(--color-sandwich-bread);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a, 
header p, 
header h2, 
header h3, 
header span {
    color: var(--color-main-bg);
}


/* =================================================================
        WEBSITE TITLE & NAV
   ================================================================= */

/* --- LEFT-SIDE HEADER --- */
.web-logo {
    width: 33px;
    background-color: #fff;
    border-radius: 35%;
    padding: 5px;
}
.title-left, .web-title {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}
.title-left h3 { /* SEPARATOR */
    padding-left: 10px;
    border-left: 1px solid #fff;
}
.title-left h3:hover {
    text-decoration: underline;
}
.web-title {
    transition: 0.3s ease;
}
.web-title:hover {
    cursor: pointer;
    opacity: 80%;
}

/* --- RIGHT-SIDE NAV --- */
.mobile-menu {
    display: flex;
    align-items: center;
}
.mobile-menu button {
    background-color: transparent;
    border: none;
}
.mobile-menu img {
    width: 30px;
    height: 30px;
}


/* =================================================================
       HIDDEN
   ================================================================= */

/* HAM MENU */
.mobile-menu-items {
    /* DISPLAY SET TO HIDDEN.*/
    display: none; /* CHANGE TO [FLEX] IN JS!! */
    /* LAYOUT */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 3.5rem 3.5rem;
    gap: 1.5rem;
    /* VISUALS */
    background-color: var(--color-sandwich-bread);
    font-size: var(--font-default-size);
    border-top: 1px #fff solid;
}
.mobile-menu-items a:first-child { /* SEPARATOR */
    border-bottom: 1px #fff solid;
    padding-bottom: 1.5rem;
}

/* DESKTOP MENU */
.menu {
    /* DISPLAY SET TO HIDDEN.*/
    display: none; /* CHANGE TO [FLEX] IN JS!! */
}
.menu .menu-search {
    width: 250px;
    border-radius: 10px;
}
.menu .menu-search input {
    font-size: 20px;
    padding: 0.7rem 1rem 0.7rem 1rem;
    width: 100%;
}
.menu button {
    color: #fff;
    font-size: var(--font-default-size);
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    border-radius: 10px;
}
.btn-submit {
    background-color: var(--color-sandwich-bread);
    border: 1px #fff solid;
}
.btn-sign {
    cursor: pointer;
    border: none;
    background-color: var(--color-accent);
    transition: 0.3s ease;
}
.btn-sign:hover {
    background-color: #fff;
    color: #000;
}


/* =================================================================
    MEDIA QUERIES
   ================================================================= */

@media screen and (min-width: 750px) { /* TABLETS; HEADER PADDING/CENTERING */
    header {
        padding-inline: calc(2rem + 5%) calc(2rem + 5%);
    }
}

@media screen and (min-width: 1200px) { /* DESKTOP; SHOW DESKTOP MENU */
    /* HIDE MOBILE-MENU, SHOW DESKTOP MENU */
    .mobile-menu {
        display: none;
    }
    .menu {
        display: flex;
        gap: 1rem;
        align-items: center;
    }
}