/*
 *  FILE: index-style.css
 *  DESCRIPTION:
 *  - Defines styles for the header.
*/

/* =================================================================
        BACKGROUND, COLORS, & GENERAL LAYOUT
   ================================================================= */

main a, 
main p, 
main h2, 
main h3 {
    color: var(--color-sandwich-bread);
}


/* =================================================================
        HERO BANNER
   ================================================================= */

/* CENTERED */
.hero-banner {
    background-color: var(--color-hero-bg);
    padding: 5rem 1rem 7rem 1rem;
}

/* HERO-CONTENT */
.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
}

/* HERO-CONTENT ITEMS */
.hero-search {
    width: 90vw;
}
.hero-search input {
    width: 100%;
    font-size: 20px;
    padding: 1.25rem 1rem 1.25rem 1rem;
    border: 1px #000 solid;
    border-radius: 4px;
    /* SEARCH ARROW ICON */
    background-image: url('../assets/icons/main content/arrow-right-stroke.png');
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 35px 35px;

    transition: border 0.3s ease;
}
.hero-search input:focus {
    border: 1px var(--color-accent) solid;
}


/* =================================================================
        MAIN CONTENT
   ================================================================= */

/* CONTENT GRID */
.main-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
    padding: 6.5rem 1.15rem 6.5rem 1.15rem;
}
/* GRID ITEM */
.content-item {
    display: flex;
    align-items: start;
    gap: 1rem;
}
.content-text {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    line-height: 2rem;
}
.content-text a {
    color: var(--color-accent);
}


/* GRID IMAGES */ /* PROBLEM! WEIRD SIZES, CHANGE ICONS? */
.item-icon {
    width: 10rem;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}
#weird-icon-billing {
    width: 5rem;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}
#weird-icon-key {
    width: 8rem;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}
#weird-icon-chat {
    width: 4rem;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}




/* =================================================================
        MEDIA QUERIES
   ================================================================= */

@media screen and (min-width: 500px) { /* BIG HERO HEADING + MAIN SPACING */
    /* MAKE HERO HEADING BIG */
    .hero-content h1 {
        font-size: 3.3rem;
    }
}

@media screen and (min-width: 800px) { /* TABLETS; BIGGER HERO HEADING + FIXED SEARHBAR WIDTH */
    /* MAKE HERO HEADING BIGGER */
    .hero-content h1 {
        font-size: 4.5rem;
    }
    /* NARROWER GAP */
    .hero-banner, .hero-content {
        gap: 2.15rem;
    }
    /* FIXED SEARCHBAR WIDTH */
    .hero-search {
        max-width: 47rem;
    }
}